<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-table.css">
    <!--<link rel="stylesheet" href="../static/bootstrap-select-1.13.9/css/bootstrap-select.css">-->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <title>nav</title>
</head>
<body>
    <!--nav bar-->
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item layui-this">
            <a href="./work.html">单卷查询</a>
        </li>
        <li class="layui-nav-item">
            <a href="./work1.html">多卷对比查询</a>
        </li>
        <li class="layui-nav-item">
            <a href="./work2.html">质量数据查询</a>
        </li>
    </ul>
    <script src="../static/jquery-1.12.4.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap-table.js"></script>
    <!--<script src="../static/bootstrap-select-1.13.9/js/bootstrap-select.js"></script>-->
    <script src="../static/echarts/echarts.js"></script>
    <script src="../static/layui/layui.all.js"></script>
</body>
</html>